.picture-main{
	margin: auto;
    width: 60%;
    padding: 10px;
	text-align: center;
	
	
}


.education-main{
	
	margin: auto;
    width: 60%;
    padding-bottom: 60px;
	text-align: center;
	
}

.hero-main{
	    height: 55vh;
	
}



.project-picture{
	margin: auto;
	text-align: center;
	
}

.navbar{
	transition: 0.3s;
	
}

.desc{
	text-align: center;
	
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.columns{
  padding: 20px;	
	
}