.picture-main{
	margin: auto;
    width: 60%;
    padding: 10px;
	padding-top: 40px;
	text-align: center;
	
	
}


.education-main{
	
	margin: auto;
    width: 60%;
    padding-bottom: 60px;
	text-align: center;
	
}

.hero-main{
	    height: 75vh;
	
}

@media(max-width: 767px) {
	.title.is-1{
	font-size: 7vw;
	
	}
	.subtitle.is-2{
	
	font-size: 6vw;
	}
	
	.is-size-4{
	font-size: 5vw!important;	
		
	}

}


.project-picture{
	margin: auto;
	text-align: center;
	
}

.navbar{
	transition: 0.3s;
	
}

.desc{
	text-align: center;
	
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.columns{
  padding: 20px;	
	
}

@media(max-width: 767px) {
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}
