.picture-main{
	margin: auto;
    width: 60%;
    padding: 10px;
	padding-top: 40px;
	text-align: center;
	
	
}


.education-main{
	
	margin: auto;
    width: 60%;
    padding-bottom: 60px;
	text-align: center;
	
}

.hero-main{
	    height: 75vh;
	    background-color:#3A3276;
	
}

@media(max-width: 800px) {
	.title.is-1{
	font-size: 7vw;
	
	}
	.subtitle.is-2{
	
	font-size: 6vw;
	}
	
	.is-size-4{
	font-size: 5vw!important;	
		
	}

}
.project-picture{
	margin: auto;
	text-align: center;
	
}

.project-picture img{
	margin: auto;
	text-align: center;
	transition: transform .4s ease-in-out;
}
.project-picture img:hover {
	transform: scale(1.05); 
	
}

.links img{
	transition: transform .4s ease-in-out;
	
}

.links img:hover{
	transform: scale(1.05); 
	
}

.links div{
	transition: transform .4s ease-in-out;
	
}

.links div:hover{
	transform: scale(1.05); 
	
}


.navbar{
	background-color:#BC7DAC;
	
}

.navbar-burger{
	background-color:#BC7DAC;

}

.navbar-menu{
	background-color:#BC7DAC;

}

.navbar-item{
	background-color:#BC7DAC;
	color:#361356;
}

.navbar-item:hover{
	background-color:#BC7DAC;
	color:#361356;
}

.logo{

	color:#361356;
}

.desc{
	text-align: center;
	
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.columns{
  padding: 20px;	
	
}

@media(max-width: 800px) {
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.button.is-link{
	background-color:#847EB1;

}
.button.is-link:hover{
	background-color:#847EB1;
}

