.picture-main{
	margin: auto;
    width: 60%;
    padding: 10px;
	text-align: center;
	
	
}


.education-main{
	
	margin: auto;
    width: 60%;
    padding: 10px;
	text-align: center;
	
}

.hero-body{
	    height: 55vh;
	
}