body{
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif !important;
}

 p,a,h1,h2,h3,h4,div {
        font-family: 'Roboto', sans-serif !important;
		
 }

  a {
  position: relative;
  color: #000;
  text-decoration: none;
}
/*
 a.underline:hover {
  color: #FFFFFF !important;
}
*/

a.underline:after {
  content: '';
  position: absolute;
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

 a.underline:hover:after {
	 
	 
  width: 100%;
  left: 0;
  background: #fff;

}


@media(max-width: 1024px) {
	a.navlinks{
		width: 35%;
	}
}


.picture-main{
	margin-top: 10% !important;
	margin: auto;
    width: 60%;
    padding: 10px;
	padding-top: 40px;
	text-align: center;
	
	
}

@media(max-height: 400px) {
	.picture-main{
	margin-top: 10% !important;
	margin: auto;
    width: 80%;
    padding: 10px;
	padding-top: 0px;
	text-align: center;
	
	
}
	.title.is-1{
		font-size: 4.5vw;
	
	}
	
	.subtitle.is-2{
	
	font-size: 3.5vw;
	}
	
	.is-size-4{
	font-size: 2.5vw!important;	
		
	}
	
	.avatar{
		display:none;
	}
}
@media(min-height: 400px) {
.subtitle.is-2{
	font-size:2rem;
}
}
.education-main{
	
	margin: auto;
    width: 60%;
    padding-bottom: 60px;
	text-align: center;
	 
	
}



.hero-main{
	    height:90vh;
	    background-image:
		linear-gradient(#3A3276, #847EB1);
		
	
}

@media(max-width: 800px){
	.hero-main{
	    height: 110vh;
	}
}


.hero-contact{
	background-image:
	linear-gradient(to top,#AA4139, #D4726A);

}

.hero-projects{
	background-color:#6F4D8F;
	
}
@media(min-width: 800px){
.project-title{
	text-align:center;
}
}
@media(max-width: 800px) and (min-height:400px) {
	
	.picture-main{
	margin-top: 10% !important;
	margin: auto;
    width: 80%;
    padding: 10px;
	padding-top: 0px;
	text-align: center;
	
	
}
	.title.is-1{
	font-size: 7.2vw;
	
	}
	.subtitle.is-2{
	
	font-size: 6.2vw;
	}
	
	.is-size-4{
	font-size: 5.2vw!important;	
		
	}
	

}
@media(max-width: 550px) and (min-height:400px) {
	.desc{
		font-size: 4.4vw!important;	
	}
}


.project-picture{
	margin: auto;
	text-align: center;
	
}

.project-picture img{
	margin: auto;
	text-align: center;
	transition: transform .4s ease-in-out;
	/*
	transition: filter .3s ease-in-out;
	*/
}
.project-picture img:hover {
	transform: scale(1.05); 
	/*
	filter: drop-shadow(0 0 30px #333);
	*/
}
/*
.links img{
	transition: transform .4s ease-in-out;
	
}
*/
.links img:hover{
	filter: opacity(75%);
	
}
/*
.links div{
	transition: transform .4s ease-in-out;
	
}
*/
.links div:hover{
	filter: opacity(50%);
	
}


.navbar{
	background-color:#BC7DAC;
	
}

.navbar-burger{
	background-color:#BC7DAC;

}

.navbar-menu{
	font-weight: 600;
	background-color:#BC7DAC;

}

.navbar-item{
	background-color:#BC7DAC;
	color:#361356;
}

a.navbar-item:hover{
	background-color:#BC7DAC;
	color:#FFFFFF;
}

.logo{

	color:#361356;
}


.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.columns{
  padding: 20px;	
	
}

@media(max-width: 800px) {
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.button.is-link{
	background-color:white;
	color:#847EB1;
	height:6vh;

}
.button.is-link:hover{
	background-color:white;
	color:#847EB1;
}

.button{
	border: 1px solid transparent;
    border-top-color: rgb(157, 78, 137);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(157, 78, 137);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(157, 78, 137);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(157, 78, 137);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}

.button:hover{
	border-color:rgb(94, 16, 75);
}


